@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto:400,500&display=swap');

//Sidebar variables
$backColor: #08233C;
$TextColor: #A2AAB1;
$HoverColor: #0A2945;
$font-family: "Poppins", sans-serif;