$bg-img: url('../../../assets/images/Login/login_background_image.jpeg');

.loginBody {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #1A8CB8;
  font-family: 'Poppins', sans-serif;
}
.container{
  margin: 4%;
  width: 92%;
  height: 560px;
  background-color: white;
  display:flex;
  justify-content: center;

}

.tab1 {
  width: 50%;
  display: inline-block;

  
}

.tab2 {
  background-image: $bg-img;
  background-repeat: no-repeat;
 background-size: cover;
  background-attachment: inherit;
  background-position: center;
  width: 50%;
  display: inline-block;
}
.input{
  width: 60%;
  margin-left: 20%;
}
.btn{
  margin-left: 20%;
}
.error{
  padding: 0px 15px 2px 15px !important;
  margin: 0 23%;
  color: #ed5249;
  font-size: 12px;
}
.glass {
  background-color: rgba(26, 140, 184, 0.4);
  width: 100%;
  height: 100%;
  display: inline-block;
}
.title {
text-align: center;
font-size: 18px;
font-weight:100;
margin-top: 10px;
}
.links{
  margin-top: 5%;
  
  text-align: center;

  a {
    text-decoration: none;
    color: rgba(38, 129, 255, 0.65);
    &:hover {
      color: #000
    }
  }
}
.bottom-link{
  margin-top: 15%;
  text-align: center;

  a {
    text-decoration: none;
    color: rgba(38, 129, 255, 0.65);
    &:hover {
      color: #000
    }
  }
}
.travel-info-title{
font-weight: bolder;
color: #fff !important;
opacity: 0.9 !important;
font-size: 45px;
}
 .travel-info{
  color: #fff !important;
  opacity: 0.9 !important;
 }
.travel__tab{
text-align: center;
color: white !important;
margin-top: 25%;

}
.btn {
  border-radius: 50px;
  color: #fff;
  background-color: rgba(38, 129, 255, 0.65);
  padding: 10px;
  cursor: pointer;
  border: none !important;
  margin-top: 10px;
  &:hover {
    color: #fff;
    background-color: rgb(57, 123, 185);
  }
}

@media screen and (max-width: 992px) {
  .tab1 {
      width: 100%;
      
  }

  .tab2 {
      width: 100%
  }

  .travel-info{
      margin-top: 100px !important;
      margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container{ 
    flex-direction: column-reverse;
  }
  .tab1 {
    width: 100% !important;
    padding: 30px;
  }

  .tab2 {
      width: 100%;
      padding: 0px
  }

  .travel__tab {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  }
}