{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false,
        "targets": {
          "node": "current",
          "esmodules": true,
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Safari versions",
            "last 2 iOS versions",
            "last 1 Android version",
            "last 1 ChromeAndroid version",
            "ie 11"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"],
      "presets": [["@babel/env",
          {
            "useBuiltIns": "entry"
          }], "@babel/react"]
    }
  },
  "plugins": ["@babel/plugin-proposal-class-properties", [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]]
}
