@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$bg-img: url('../../assets/images/Login/login_background_image.jpeg');

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #1A8CB8;
  font-family: 'Poppins', sans-serif;
}
.container{
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
  margin-top: 4%;
  height: 560px;
  background-color: white;
  display:flex;
  justify-content: center;

}

.tab1 {
  width: 50%;
  display: inline-block;

  
}

.tab2 {
  background-image: $bg-img;
  background-repeat: no-repeat;
 background-size: cover;
  background-attachment: inherit;
  background-position: center;
  width: 50%;
  display: inline-block;
}
.input{
  width: 60%;
  margin-left: 20%;
}
.btn{
  margin-left: 20%;


}
.glass {
  background-color: #1A8CB8;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0.4;

}
.title {
text-align: center;
font-size: 18px;
font-weight:100;
margin-top: 10px;

}
.links{
  margin-top: 5%;
  text-align: center;
}
.bottom-link{
  margin-top: 22%;
  text-align: center;
}
span {
  color: rgba(38, 129, 255, 0.65);
}
a {
  text-decoration: none;
  color: rgba(38, 129, 255, 0.65);
  &:hover {
    color: #000
  }
}
.travel-info-title{
font-weight: bolder;
font-size: 45px;
}
// .travel-info{}
.travel__tab{
text-align: center;
color: white;
margin-top: 25%;

}
.btn {
  border-radius: 50px;
  color: #fff;
  background-color: rgba(38, 129, 255, 0.65);
  padding: 10px;
  cursor: pointer;
  border: none !important;
  margin-top: 10px;
  &:hover {
    color: #fff;
    background-color: rgb(57, 123, 185);
  }
}

@media screen and (max-width: 992px) {
  .tab1 {
      width: 100%;
      padding: 40px 30px 10px 30px;
  }

  .tab2 {
      width: 100%
  }

  .travel-info{
      margin-top: 100px !important;
      margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 300px;
  }

  .tab2 {
      padding: 50px
  }

  .travel__tab {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 100px !important
}

.tab2 {
    padding: 20px
}

.travel__tab {
    margin-top: 20px !important;
    margin-bottom: 20px !important
}
}