.roomCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  min-height: 200px;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.22);

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 24px;
  }

  &__img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__price,
  &__beds {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }

  &__amenities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      max-height: 18px;
      line-height: 1;
      margin-right: 8px;
    }

    &__icon {
      width: 18px;
      height: 18px;
      color: #2681ff;
      margin-right: 8px;
    }

    &__text {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #2681ff;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &__btn {
      width: 100%;
      padding: 3px 10px !important;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px !important;
      color: #ffffff;

      &:disabled,
      &[disabled] {
        border: 1px solid #999999 !important;
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
      }
    }
  }
}
