
.reqContainer{
    position: fixed;  
    width: 100%;  
    height: 100%;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background: #ECECEC;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;

    &_mini-container{
        display: block;
        background: white;
        width: 79%;
        height: 80%;
        margin-left: 19%;
        margin-top: 7%;
    
&_mainButton{
    width: 100%;
    margin-left: 1%;
   padding-bottom: 10px;


.buton{
    width: 20%;
    margin-left: 0%;

}
}

&_line{
    opacity: 0.3;
    border: 1px solid #C4C4C4;
}
&_search{
    width: 100%;
    padding-bottom: 10px;

    &_page-title{
        padding: 10px 0 0 20px;
        display: inline-block;
    }
}
&_mainTable{
    width: 100%;
    height: 70%;
}
    }
    &_sidebar{
        height: 100%;
        width: 17%;
        background: #08233C;
        position: fixed;
        left: 0;
        z-index: 1;
        top: 0; 
    
    }
    &_navbar{
        width: 100%;
        height: 10%;
        background: white;
        position: fixed;
    
    
    }
}

