.toast_message {
  position: fixed;
  display: block;
  width: 185px;
  height: auto;
  text-align: center;
  min-height: 35px;
  right: 25px;
  top: 80px;
  color: #FFFFFF;
  background: #1A8CB8;
  padding: 5px;
}