@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.editProfile {
  background: #e5e5e5;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 300px auto;
  overflow: auto;
  padding: 1.25em 1.25em 100px 1.25em;
}
