.accommodation {
  position: relative;
  background: #e5e5e5;
  padding-bottom: 24px;

  &__hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: -webkit-gradient(to bottom, rgba(3, 3, 10, 0.5) 0%, rgba(10, 10, 10, 0.5) 100%),
      url('../../assets/images/DLzRzCkWsAEAXs-.jpg') no-repeat content-box;
    background: linear-gradient(to bottom, rgba(3, 3, 10, 0.5) 0%, rgba(10, 10, 10, 0.5) 100%),
      url('../../assets/images/DLzRzCkWsAEAXs-.jpg') no-repeat content-box;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;

    &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 200px;
    }
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-height: 18px;
    line-height: 24px;

    &__icon {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }

    &__address {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #ffffff;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 9999;
    transition: background-color 0.25s;
  }

  &__form {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    background: #ffffff;
    -moz-box-shadow: 1px 3px 5px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 3px 5px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 3px 5px 6px rgba(0, 0, 0, 0.2);

    &__close {
      align-self: flex-end;
      color: rgba(0, 0, 0, 0.2);
      font-size: 24px;
      cursor: pointer;

      &:hover {
        color: #e74c3c;
      }
    }
  }

  &__booking-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    grid-gap: 10px;

    &__group {
      display: flex;
      flex-direction: column;
      font-family: 'Poppins', sans-serif;

      &:last-child,
      &:nth-child(3) {
        grid-column: 1 / span 2;
        text-align: center;
      }

      &:nth-child(3) {
        font-size: 24px;
      }
    }

    &__label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      color: #000000;
    }

    &__control {
      display: block;
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      padding: 5px 10px !important;
      margin: 0 !important;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      color: #000000;
      background-color: #eeecec;
      background-image: none;
      border: 1px solid #ccc !important;
      border-radius: 4px !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &:focus {
        border-color: #056cf2;
        outline: 0;
        -webkit-box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 108, 242, 0.6);
        box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 108, 242, 0.6);
      }

      &::-moz-placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #999;
      }

      &::-webkit-input-placeholder {
        color: #999;
      }
    }

    &__btn {
      width: 150px;
      padding: 3px 15px !important;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px !important;
      color: #ffffff;
    }

    &__error {
        color: #e74c3c !important;
        font-size: 14px !important;
    }
  }

  &__card {
    position: relative;
    width: 75%;
    margin: 20px auto;
  }

  &__header {
    width: 75%;
    margin: 20px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }

  &__contents {
    position: relative;
    display: block;
    width: 75%;
    margin: 20px auto;
    padding: 24px;
    background: #ffffff;

    @media only screen and (max-width: 768px) {
      padding: 20px !important;
    }

    &__header {
      width: 100%;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
    }

    &__type {
      color: #000000 !important;
      margin-right: 20px;
    }

    &__price {
      color: #2681ff;
    }

    &__list {
      position: relative;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      width: 100%;
      padding: 20px 0 48px;
    }
  }
}
