@import '../../assets/scss/variables.scss';
//Layout Stylling
body{
  width: 100%;
  height: 100%;
}
.sidebar {
  position: fixed; 
  width: 20%;
  height: 795px;
  left: 0px;
  top: 0px;
  background: $backColor;
  overflow: hidden;
  z-index: 1; 

  &_header {
    position: absolute;
    top: 10px;

    &_img {
      position: absolute;
      left: 0px;
      top: 15px;
      width: 40px;
      padding-left: 10px;
    }

    &_title {
      position: relative;
      padding-left: 40px;
      margin: 0 auto;
      top: 15px;
      font-family: $font-family;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      color: $TextColor;
    }
  }

  &_main {
    position: relative;
    top: 94px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;

    &_component1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      position: relative;
      height: 60px;
      border-top: 1px solid $HoverColor;
      border-bottom: 1px solid $HoverColor;
      font-family: $font-family;
      font-weight: bold;
      font-size: 16px;
      color: $TextColor;
      text-decoration: none;
      padding: 0 .5em;

      &:hover {
        background: rgb(10, 45, 75);
        cursor: pointer;
        color: $TextColor;
      }

      &_text {
        display: inline-block;
        width: 99%;
        margin-left: 5px;
      }

      &_icon {
        display: inline-block;
        width: 24px;
        justify-self: flex-start;
      }

      &_image {
        display: inline-block;
        justify-self: flex-end;
        color: $TextColor;
        width: 24px;
      }
    }
  }

  &_bottom {
    position: absolute;
    top: 550px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    &_component {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      position: relative;
      width: 90%;
      height: 60px;
      margin: 0 auto;
      border-top: 1px solid $HoverColor;
      border-bottom: 1px solid $HoverColor;
      font-family: $font-family;
      font-weight: bold;
      font-size: 16px;
      list-style: none;
      color: $TextColor;
      text-decoration: none;

      &:hover {
        background: rgb(10, 45, 75);
        cursor: pointer;
        color: $TextColor;
      }

      &_text {
        display: inline-block;
        width: 99%;
        margin-left: 5px;
      }

      &_icon {
        display: inline-block;
        justify-self: flex-start;
        width: 24px;
      }

      &_image {
        display: inline-block;
        justify-self: flex-end;
        color: $TextColor;
        width: 24px;
      }
    }
  }
}
.navbar {
  position: fixed;
  width: 80%;
  height: 70px;
  left: 20%;
  top: 0px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

  &_items {
    display: flex;
    flex-direction: row;
    width: 200px;
    list-style: none;
    margin: 0px;
    float: right;

    &_single {
      position: relative;
      display: inline-block;
      height: 40px;
      margin-top: 15px;
    }

    &_single2 {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 5px 0 0 50px;
      border-radius: 50%;
    }
  }
}
.body{
  position: absolute;
  left: 20%;
  top: 70px;
  width: 80%;
  height: 100%;
  background-color: #ececec;
  overflow-y: scroll;  
  
  &_display{
    padding-bottom: 100px;
    margin: 40px;
    background: #fff;
  }
}
